{
  "DetailedErrors": true,
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "Neo4j": {
    "Url": "",
    "Username": "",
    "Password": ""
  },
  "AllowedHosts": "*"
}

